@use '../helpers' as *;

.advantages {
	background: url("../img/advantages/advantages-bg.jpg") center center / cover no-repeat;
	padding-block: var(--section-padding-y);
	color: var(--color-light);
	text-align: center;

	&__subtitle {
		color: currentColor;
	}

	&__list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: fluid(64, 40) rem(25);

			@include mobile {
				grid-template-columns: repeat(2, 1fr);
			}

			@include mobile-s {
				grid-template-columns: repeat(1, 1fr);
			}
	}
}