@use '../helpers' as *;

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-inline: rem(32);
	font-size: rem(18);
	text-decoration: none;
	background-color: var(--color-accent);
	color: var(--color-light);
	min-height: var(--input-height);
	border-radius: var(--border-radius);
	transition-duration: var(--transition-duration);
	border: none;

	@include hover {
		background-color: var(--color-dark-alternate);
	}

	&--white {
		background-color: var(--color-light);
		color: var(--color-accent);
	}
}