@use '../helpers' as *;

.card-advantages {
	@include flex-center;

	flex-direction: column;
	
	&__icon {
		@include flex-center;

		flex: 0 1 fluid(80, 60);
		aspect-ratio: 1;
		background-color: currentColor;
		border-radius: 50%;

		svg {
			fill: #662e9b;
		}

		&:not(:last-child) {
			margin-bottom: fluid(32, 20);
		}
	}

	&__title {
		@include fluid-text(32, 20);

		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: 0.571em;
		}
	}
}