@use '../helpers' as *;

.contacts {

	&__wrapper {
		display: flex;

		@include mobile {
			flex-direction: column;
		}
	}

	&__map {
		flex: 1 1 50%;
		padding-bottom: 0 !important;

		@include mobile {
			padding-bottom: 40%;
		}

		@include mobile550 {
			padding-bottom: 60%;
		}
	}
	[class*= "copyrights-pane"] {
		display: none;
	}

	&__body {
		flex: 0 0 50%;
		display: flex;
		flex-direction: column;
		padding: fluid(120, 40);
		background-color: #662e9b;
		color: var(--color-light);
	}

	&__title {
		font-size: rem(28);
		margin-bottom: rem(16);
	}

	&__tel {
		color: var(--color-light-alternate);
	}

	&__mail {
		color: var(--color-light);
		margin-bottom: rem(16);
	}

	&__address {
		color: var(--color-light-alternate);
	}
}

