@use '../helpers' as *;

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: fluid(40, 20);
	padding-block: fluid(80, 40);

	&__menu-list {
		@include mobile {
			flex-direction: row;
			justify-content: center;
			margin-bottom: 0;
			gap: 15px;
			flex-wrap: wrap;
			font-size: rem(18);
		}
	}

	&__menu-link {
		font-weight: 700;
		color: rgba(0, 0, 0, 0.8);
	}

	&__copyright {
		font-size: rem(15);
		font-weight: 700;
		color: rgba(0, 0, 0, 0.6);
	}
}