@use '../helpers' as *;

.soc1als {
	
	&__list {
		display: flex;
		gap: rem(10);
	}

	&__item {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(56);
		aspect-ratio: 1;
		background-color: var(--color-accent);
		border-radius: 50%;
		transition-duration: var(--transition-duration);

		@include hover {
			background-color: var(--color-dark-alternate);
		}
	}

	&__link {
		@include square(24);

		color: var(--color-light);

		&::before{
			content:'';
			position: absolute;
			inset: 0;
		}
	}
}