@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Stem";
  src: url("../fonts/Stem-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Stem";
  src: url("../fonts/Stem-SemiLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Stem";
  src: url("../fonts/Stem-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Stem";
  src: url("../fonts/Stem-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #000000;
  --color-dark-alternate: rgba(0, 0, 0, 0.7);
  --color-light: #ffffff;
  --color-light-alternate: rgba(255, 255, 255, 0.8);
  --color-accent: #f86624;
  --color-red: red;
  --border-radius: 2.25rem;
  --border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  --input-height: 3.5rem;
  --font-family-base: "Stem", sans-serif;
  --font-family-accent: "Gilroy", sans-serif;
  --container-width: 69.375rem;
  --container-padding-x: 0.9375rem;
  --transition-duration: 0.2s;
  --header-height: clamp(3.75rem, 5.5vw, 5rem);
  --section-padding-y: clamp(4.375rem, 8.33vw, 7.5rem);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
.container--header {
  max-width: calc(1160px + var(--container-padding-x) * 2);
}
.container--wide {
  max-width: 100%;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.8125rem + 0.3125vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-dark);
  background-color: var(--color-light);
  line-height: 1.3;
}

main {
  flex-grow: 1;
  overflow: hidden;
}

p {
  --paragraphMarginBottom: 1.5rem;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-property: color, background-color, text-decoration;
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-dark);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-inline: 2rem;
  font-size: 1.125rem;
  text-decoration: none;
  background-color: var(--color-accent);
  color: var(--color-light);
  min-height: var(--input-height);
  border-radius: var(--border-radius);
  transition-duration: var(--transition-duration);
  border: none;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: var(--color-dark-alternate);
  }
}
@media (any-hover: none) {
  .button:active {
    background-color: var(--color-dark-alternate);
  }
}
.button--white {
  background-color: var(--color-light);
  color: var(--color-accent);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--color-light);
}
.header__inner {
  display: flex;
  min-height: var(--header-height);
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  flex: 1 1 auto;
  margin-right: 2.5rem;
}
@media (width <= 47.99875rem) {
  .header__menu {
    order: 1;
    flex: 0;
    margin-right: 0;
  }
}
.header__phone {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2rem;
  font-size: 0.8125rem;
  color: var(--color-dark-alternate);
}
@media (width <= 47.99875rem) {
  .header__phone {
    font-size: 0.625rem;
    margin-right: 0;
  }
}
@media (width <= 30.06125rem) {
  .header__phone {
    display: none;
  }
}
.header__phone-link {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--color-dark);
  text-decoration: none;
}
@media (width <= 63.99875rem) {
  .header__phone-link {
    font-size: 0.9375rem;
  }
}
@media (any-hover: hover) {
  .header__phone-link:hover {
    color: var(--color-dark-alternate);
  }
}
@media (any-hover: none) {
  .header__phone-link:active {
    color: var(--color-dark-alternate);
  }
}
.header__order-button {
  position: relative;
  z-index: 5;
  min-height: 2.75rem;
  padding-inline: 1.5rem;
  font-size: 0.9375rem;
  font-weight: 500;
  color: var(--color-dark);
  background-color: transparent;
  border: var(--border);
  border-radius: 0.375rem;
}
@media (width <= 63.99875rem) {
  .header__order-button {
    min-height: 2.1875rem;
    padding-inline: 1rem;
  }
}
@media (any-hover: hover) {
  .header__order-button:hover {
    color: var(--color-light);
  }
}
@media (any-hover: none) {
  .header__order-button:active {
    color: var(--color-light);
  }
}

.icon-menu {
  position: relative;
  width: 2.125rem;
  height: 2.125rem;
  z-index: 5;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.53125rem 0.265625rem;
  color: var(--color-dark);
  background-color: transparent;
  border: none;
}
.icon-menu::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}
@media (any-hover: hover) {
  .icon-menu:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .icon-menu:active {
    color: var(--color-accent);
  }
}
.icon-menu.is-active .icon-menu__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.25em -0.1em;
}
.icon-menu.is-active .icon-menu__line:nth-child(2) {
  rotate: -45deg;
}
.icon-menu.is-active .icon-menu__line:last-child {
  width: 0;
}
.icon-menu__line {
  width: 100%;
  height: 0.125rem;
  background-color: currentColor;
  border-radius: 1rem;
  transition-duration: var(--transition-duration);
}

.logo {
  font-size: clamp(1.125rem, 0.96875rem + 0.78125vw, 1.75rem);
  position: relative;
  z-index: 5;
  margin-right: 0.625rem;
  font-weight: 700;
  line-height: 1.14;
}

@media (width <= 47.99875rem) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--color-light);
    padding: 5.625rem 0.9375rem 1.875rem 0.9375rem;
    transition-duration: var(--transition-duration);
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    min-height: var(--header-height);
    background-color: var(--color-light);
  }
  .menu__body.is-active {
    left: 0;
  }
}
.menu__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1.5rem;
}
@media (width <= 47.99875rem) {
  .menu__list {
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    row-gap: 2.5rem;
    margin-bottom: 2.5rem;
  }
}
.menu__link {
  color: var(--color-dark-alternate);
  text-decoration: none;
  font-weight: 500;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--color-dark);
  }
}
@media (any-hover: none) {
  .menu__link:active {
    color: var(--color-dark);
  }
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/hero-bg.jpg");
  background-color: rgba(102, 46, 155, 0.4);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (width <= 63.99875rem) {
  .hero {
    background-position: center center;
  }
}
@media (width <= 30.06125rem) {
  .hero {
    background-position: 40% center;
  }
}
.hero__inner {
  flex: 1 1 auto;
  padding-top: var(--header-height);
  padding-bottom: 4.375rem;
}
@media (width <= 47.99875rem) {
  .hero__inner {
    padding-top: calc(var(--header-height) + 3.125rem);
  }
}
.hero__content {
  max-width: 29.0625rem;
}
.hero__title:not(:last-child) {
  margin-bottom: 0.375em;
}
.hero__descr {
  font-size: clamp(1.125rem, 1.03125rem + 0.46875vw, 1.5rem);
  font-weight: 500;
  color: var(--color-light-alternate);
}
.hero__descr:not(:last-child) {
  margin-bottom: 1.66em;
}
.hero__actions {
  display: flex;
  gap: 1rem;
}
@media (width <= 47.99875rem) {
  .hero__actions {
    flex-direction: column;
  }
}
.hero__next-section {
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 2.8125rem;
  color: var(--color-light);
}
@media (any-hover: hover) {
  .hero__next-section:hover > .hero__next-section-link {
    animation-play-state: paused;
  }
}
@media (any-hover: none) {
  .hero__next-section:active > .hero__next-section-link {
    animation-play-state: paused;
  }
}
.hero__next-section-link {
  position: relative;
  animation: jump-link 1s infinite;
}
.hero__next-section-link::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}
@keyframes jump-link {
  0% {
    bottom: 2.8125rem;
  }
  50% {
    bottom: 1.25rem;
  }
  100% {
    bottom: 2.8125rem;
  }
}

.title {
  font-size: clamp(40px, 4.44vw, 64px);
  font-weight: 700;
  line-height: 1.06;
  color: var(--color-dark);
}
.title--white {
  color: var(--color-light);
}

.portfolio {
  padding-block: var(--section-padding-y);
}
.portfolio__header {
  max-width: 45rem;
}
.portfolio__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
  transition-duration: var(--transition-duration);
}
@media (any-hover: hover) {
  .portfolio__list:hover .portfolio__item {
    filter: grayscale(90%);
    opacity: 0.5;
  }
}
@media (any-hover: none) {
  .portfolio__list:active .portfolio__item {
    filter: grayscale(90%);
    opacity: 0.5;
  }
}
.portfolio__list .portfolio__item:hover {
  filter: grayscale(0);
  opacity: 1;
}
@media (width <= 63.99875rem) {
  .portfolio__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 47.99875rem) {
  .portfolio__list {
    gap: 0.9375rem;
  }
}
@media (width <= 30.06125rem) {
  .portfolio__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.portfolio__item {
  transition-duration: var(--transition-duration);
}
.portfolio__card {
  position: relative;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: clamp(0.625rem, 0.40625rem + 1.09375vw, 1.5rem);
  margin-inline: auto;
  margin-bottom: clamp(2.5rem, 2.125rem + 1.875vw, 4rem);
  text-align: center;
}

.subtitle {
  font-size: clamp(1.5rem, 1.4375rem + 0.3125vw, 1.75rem);
  font-weight: 500;
  color: #ea3546;
}

.descr {
  font-size: clamp(1.125rem, 1.03125rem + 0.46875vw, 1.5rem);
  color: rgba(0, 0, 0, 0.7);
}
.descr--white {
  color: var(--color-light-alternate);
}

.card-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  row-gap: 0.625rem;
  min-height: 23.75rem;
  padding: 2rem;
  text-align: center;
  color: var(--color-light);
  border-radius: 1rem;
}
@media (width <= 47.99875rem) {
  .card-portfolio {
    min-height: 20rem;
    padding: 1.25rem;
  }
}
.card-portfolio--1 {
  background: url("../img/portfolio/01.jpg") 0 0/cover no-repeat;
}
.card-portfolio--2 {
  background: url("../img/portfolio/02.jpg") 0 0/cover no-repeat;
}
.card-portfolio--3 {
  background: url("../img/portfolio/03.jpg") 0 0/cover no-repeat;
}
.card-portfolio--4 {
  background: url("../img/portfolio/04.jpg") 0 0/cover no-repeat;
}
.card-portfolio--5 {
  background: url("../img/portfolio/05.jpg") 0 0/cover no-repeat;
}
.card-portfolio--6 {
  background: url("../img/portfolio/06.jpg") 0 0/cover no-repeat;
}
.card-portfolio__title {
  font-size: 1.75rem;
  font-weight: 500;
}
.card-portfolio__link {
  color: currentColor;
}
.card-portfolio__link::before {
  content: "";
  position: absolute;
  inset: 0;
}

.advantages {
  background: url("../img/advantages/advantages-bg.jpg") center center/cover no-repeat;
  padding-block: var(--section-padding-y);
  color: var(--color-light);
  text-align: center;
}
.advantages__subtitle {
  color: currentColor;
}
.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(2.5rem, 2.125rem + 1.875vw, 4rem) 1.5625rem;
}
@media (width <= 47.99875rem) {
  .advantages__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 30.06125rem) {
  .advantages__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card-advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-advantages__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 clamp(3.75rem, 3.4375rem + 1.5625vw, 5rem);
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}
.card-advantages__icon svg {
  fill: #662e9b;
}
.card-advantages__icon:not(:last-child) {
  margin-bottom: clamp(1.25rem, 1.0625rem + 0.9375vw, 2rem);
}
.card-advantages__title {
  font-size: clamp(1.25rem, 1.0625rem + 0.9375vw, 2rem);
  font-weight: 500;
}
.card-advantages__title:not(:last-child) {
  margin-bottom: 0.571em;
}

.application {
  font-family: var(--font-family-accent);
  padding-block: clamp(4.375rem, 3.90625rem + 2.34375vw, 6.25rem);
}
.application__header {
  max-width: 51.5625rem;
  margin-bottom: clamp(1.5rem, 1.25rem + 1.25vw, 2.5rem);
}
.application__title {
  font-size: clamp(1.75rem, 1.4375rem + 1.5625vw, 3rem);
}
.application__descr {
  font-size: inherit;
}

.form {
  text-align: center;
}
.form--big {
  max-width: 33.75rem;
  margin-inline: auto;
}
.form__header {
  max-width: 51.5625rem;
  margin-inline: auto;
  margin-bottom: 2.5rem;
}
.form__title {
  font-size: clamp(2.5rem, 2.375rem + 0.625vw, 3rem);
}
.form__title:not(:last-child) {
  margin-bottom: 0.333em;
}
.form__subtitle {
  font-weight: 600;
  color: #333;
}
.form__body {
  display: inline-grid;
  grid-template-columns: 16.25rem auto;
  gap: 1.5rem 1rem;
  max-width: 30.125rem;
  margin-inline: auto;
}
@media (width <= 47.99875rem) {
  .form__body {
    grid-template-columns: 14.375rem auto;
    gap: 1rem 0.625rem;
  }
}
@media (width <= 30.06125rem) {
  .form__body {
    grid-template-columns: 1fr;
  }
}
.form__body--column {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.75rem;
}
.form__personal-data {
  grid-column: -1/1;
  font-size: 0.9375rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}
.form__personal-data a {
  position: relative;
  color: var(--color-accent);
  text-decoration: none;
}
@media (any-hover: hover) {
  .form__personal-data a:hover {
    text-decoration: underline;
  }
}
@media (any-hover: none) {
  .form__personal-data a:active {
    text-decoration: underline;
  }
}
.form__radio-input:checked + .form__radio-emulator::after {
  opacity: 1;
}
.form__radio-input:not(:checked) + .form__radio-emulator {
  background-color: transparent;
}
.form__radios {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-bottom: clamp(1.25rem, 0.9375rem + 1.5625vw, 2.5rem);
  text-align: left;
}
.form__radios-label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.form__radios-item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.form__radio-emulator {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: var(--border);
  background-color: var(--color-accent);
  transition-duration: var(--transition-duration);
}
.form__radio-emulator::after {
  content: "";
  width: 0.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-light);
  opacity: 0;
}
.form__radio-label {
  font-weight: 700;
}
.form__button--border-radius {
  border-radius: 0.375rem;
  margin-bottom: clamp(0.75rem, 0.5625rem + 0.9375vw, 1.5rem);
}
.form__personal-data {
  grid-column: -1/1;
  font-size: 0.9375rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}
.form__personal-data a {
  position: relative;
  color: var(--color-accent);
  text-decoration: none;
  transition-duration: var(--transition-duration);
}

.input {
  min-height: var(--input-height);
  border: var(--border);
  border-radius: 6px;
  padding-inline: 20px;
  transition-duration: var(--transition-duration);
}
@media (any-hover: hover) {
  .input:hover {
    border-color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .input:active {
    border-color: var(--color-accent);
  }
}
.input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.input:user-invalid {
  border-color: var(--color-red);
}

.reviews {
  padding-block: clamp(4.375rem, 3.90625rem + 2.34375vw, 6.25rem);
  background-color: #f7f8fa;
}
.reviews__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(0.9375rem, 0.703125rem + 1.171875vw, 1.875rem);
}
@media (width <= 63.99875rem) {
  .reviews__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 47.99875rem) {
  .reviews__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, 0.75rem + 1.25vw, 2rem);
  padding: 2.5rem 2rem;
  font-weight: 500;
  text-align: center;
  border: var(--border);
  border-radius: 1rem;
}
.card-review__photo {
  flex: 0 0 4rem;
  position: relative;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
}
.card-review__photo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.card-review__text {
  font-size: clamp(1.125rem, 1.03125rem + 0.46875vw, 1.5rem);
}
.card-review__name:not(:last-child) {
  margin-bottom: 0.25rem;
}
.card-review__profession {
  font-size: 0.8125rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
}

.price {
  padding-block: clamp(4.375rem, 4.21875rem + 0.78125vw, 5rem);
  background-image: url("../img/price/price-bg.jpg");
  background-color: rgba(102, 46, 155, 0.4);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-light);
}
.price__title {
  font-size: 3rem;
}
.price__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(0.9375rem, 0.703125rem + 1.171875vw, 1.875rem);
}
@media (width <= 63.99875rem) {
  .price__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 47.99875rem) {
  .price__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card-price {
  display: flex;
  flex-direction: column;
  padding: clamp(1rem, 0.75rem + 1.25vw, 2rem);
  background-color: var(--color-light);
  border-radius: 1rem;
  color: var(--color-dark);
  font-size: 0.9375rem;
}
.card-price__header {
  padding-bottom: 1rem;
  border-bottom: var(--border);
  margin-bottom: 1rem;
}
.card-price__option {
  font-weight: 500;
  color: var(--color-accent);
}
.card-price__option:not(:last-child) {
  margin-bottom: 0.625rem;
}
.card-price__price {
  font-weight: 700;
  font-size: 1.75rem;
}
.card-price__services {
  font-size: 0.9375rem;
  font-weight: 400;
}
.card-price__services:not(:last-child) {
  margin-bottom: 1.5rem;
}
.card-price__services--base > .card-price__service:nth-last-child(-n+4).card-price__service::before {
  background: url("../img/price/cross-card-price.svg") center no-repeat;
}
.card-price__services--optimal > .card-price__service:nth-last-child(-n+2).card-price__service::before {
  background: url("../img/price/cross-card-price.svg") center no-repeat;
}
.card-price__service {
  display: flex;
}
.card-price__service:not(:last-child) {
  margin-bottom: 0.5rem;
}
.card-price__service::before {
  content: "";
  flex: 0 0 1.5rem;
  background: url("../img/price/arrow-card-price.svg") center no-repeat;
  margin-right: 0.5rem;
}

.about {
  padding-block: clamp(4.375rem, 3.90625rem + 2.34375vw, 6.25rem);
}
.about__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 1.5625rem;
}
@media (width <= 47.99875rem) {
  .about__content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.about__body {
  max-width: 33.75rem;
  padding-block: 4.25rem;
}
@media (width <= 47.99875rem) {
  .about__body {
    padding: 0;
  }
}
.about__subtitle {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
.about__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.about__text {
  color: var(--color-dark-alternate);
}
.about__text:not(:last-child) {
  margin-bottom: 2rem;
}
.about__images {
  position: relative;
  max-width: 27.8125rem;
}
@media (width <= 47.99875rem) {
  .about__images {
    display: flex;
    gap: 0.9375rem;
  }
}
@media (width <= 47.99875rem) {
  .about__images {
    flex-direction: column;
    align-items: center;
  }
}
.about__image {
  position: absolute;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}
.about__image--1 {
  top: 0;
  right: 0;
  max-width: 15.9375rem;
}
.about__image--2 {
  bottom: 0;
  left: 0;
  z-index: -1;
  max-width: 21.875rem;
}
@media (width <= 47.99875rem) {
  .about__image {
    position: relative;
    max-width: 15.9375rem;
    max-height: 15.9375rem;
  }
}

.carousel__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel__button {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(40px, 4.44vw, 64px);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-light);
  color: #662e9b;
  border: none;
  transform: translateY(-50%);
  transition-duration: var(--transition-duration);
}
@media (any-hover: hover) {
  .carousel__button:hover {
    background-color: #662e9b;
    color: var(--color-light);
  }
}
@media (any-hover: none) {
  .carousel__button:active {
    background-color: #662e9b;
    color: var(--color-light);
  }
}
.carousel__button--prev {
  left: 5.55%;
}
.carousel__button--next {
  right: 5.55%;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper__slide {
  position: relative;
}
.swiper-pagination-bullet {
  width: 24px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-light-alternate);
}
.swiper-pagination-bullet-active {
  background-color: #662e9b;
}

.contacts__wrapper {
  display: flex;
}
@media (width <= 47.99875rem) {
  .contacts__wrapper {
    flex-direction: column;
  }
}
.contacts__map {
  flex: 1 1 50%;
  padding-bottom: 0 !important;
}
@media (width <= 47.99875rem) {
  .contacts__map {
    padding-bottom: 40%;
  }
}
@media (width <= 47.99875rem) {
  .contacts__map {
    padding-bottom: 60%;
  }
}
.contacts [class*=copyrights-pane] {
  display: none;
}
.contacts__body {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  padding: clamp(2.5rem, 1.25rem + 6.25vw, 7.5rem);
  background-color: #662e9b;
  color: var(--color-light);
}
.contacts__title {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.contacts__tel {
  color: var(--color-light-alternate);
}
.contacts__mail {
  color: var(--color-light);
  margin-bottom: 1rem;
}
.contacts__address {
  color: var(--color-light-alternate);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: clamp(1.25rem, 0.9375rem + 1.5625vw, 2.5rem);
  padding-block: clamp(2.5rem, 1.875rem + 3.125vw, 5rem);
}
@media (width <= 47.99875rem) {
  .footer__menu-list {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
    gap: 15px;
    flex-wrap: wrap;
    font-size: 1.125rem;
  }
}
.footer__menu-link {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}
.footer__copyright {
  font-size: 0.9375rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}

.soc1als__list {
  display: flex;
  gap: 0.625rem;
}
.soc1als__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  aspect-ratio: 1;
  background-color: var(--color-accent);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}
@media (any-hover: hover) {
  .soc1als__item:hover {
    background-color: var(--color-dark-alternate);
  }
}
@media (any-hover: none) {
  .soc1als__item:active {
    background-color: var(--color-dark-alternate);
  }
}
.soc1als__link {
  width: 24;
  height: 24;
  color: var(--color-light);
}
.soc1als__link::before {
  content: "";
  position: absolute;
  inset: 0;
}

.map__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #5552E8;
  border-radius: 50%;
}
.map__circle::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
}

/*# sourceMappingURL=main.css.map */
